.informacoes p {
    position: absolute;
    visibility: hidden;
    transition: 0.5s;
    border-bottom: 30px solid var(--bd-primary);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    z-index: 15665;
    background: var(--bd-base-forms);
}

.informacoes:hover p {
    visibility: visible;
    transition: 0.5s;
}

.ajuste-botao {
    display: flex;
    justify-content: center;
}

.formulario-documentos {
    display: flex;
    flex-direction: column;
}

.centralizador {
    margin: auto;
    width: 90%;
}

.alinhar-txt {
    border-top: 1px solid #EBEFF2;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo_documentos {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.div-box {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 5px 0px #d6d6d6;
}

strong {
    color: var(--bd-primary);
    margin: 0px 10px;
}

.container-div {
    width: 900px;
}

.comprovante {
    border-radius: 25px;
    padding: 8px 20px;
    background-color: var(--bd-primary);
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin: 5px;
    cursor: pointer;
}

.comprovante:hover {
    background: #252525;
}